:root {
  --primary-color: #9e2cca;
  --secondary-color: #f3f1f8;
  --hero-color: #f5e7e7;
  --box-shadow: 0 5px 10px #0000004d;
  --heading-font-family: "Playfair Display", system-ui;
  --default-font-family: "Poppins", system-ui;
}

body {
  background: var(--secondary-color);
  font-family: var(--default-font-family);
}
.hero {
  background: var(--hero-color);
  text-align: center;
  padding: 50px 10px;
}
h1,
h2,
h3 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 48px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  margin: 10px;
}

.about {
  border-radius: 5px;
  padding: 10px 5px;
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.homepage {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.both-paragraphs {
  display: flex;
}

p {
  display: flex
  justify-content: space-around;
  padding: 10px;
  border: 1px solid brown;
  margin: 10px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  flex: 1;
  background-color: orange;
}

.contact-me {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 20px;
}
.email {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 20px;
  text-decoration: none;
}

.email:hover {
  text-decoration: underline;
  cursor: pointer;
}
.launch-link {
  border-radius: 5px;
  padding: 10px 5px;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  }

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--hero-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 24px;
}

footer .email-link:hover {
  color: orange;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--hero-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: orange;
  background: var(--hero-color);
}

@media (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    font-size: 26px;
  }
}
